.friends {
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    &__greeting {
        color: #424242;
        font-size: 18px;
        text-align: center;
    }
    &__load-users {
        width: 120px;
        &:hover {
            background-color: #BDBDBD;
        }
    }
    &__search {
        margin: 15px;
        height: 44px;
        font-size: 18px;
        text-indent: 10px;
    }
    &__search-result {
        flex-grow: 1;
        list-style: none;
        overflow: hidden;
        overflow-y: auto;
        margin: 20px 0;
        padding: 0px 20px;
        .search-result__item {
            background-color: #FAFAFA;
            display: flex;
            justify-content: space-between;
            flex-shrink: 0;
            padding: 15px;
            color: #666;
            // border-bottom: 1px solid rgba(117, 117, 117, 0.1);
            margin-bottom: 8px;
            &:hover {
                background-color: #E0E0E0;
            }
            p {
                margin: 0;
                font-weight: bold;
                line-height: 1.2;
                user-select: none;
                span {
                    color: #b3b3b3;
                    font-weight: normal;
                }
            }
            a {
                background-color: #E0E0E0;
                display: block;
                margin: -15px;
                padding: 27px 25px;
                text-decoration: none;
                color: rgba(66, 69, 158, 0.5);
                background: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#3c3f98' viewBox='0 0 32 32'%3E%3Ctitle%3Eenter%3C/title%3E%3Cpath d='M12 16h-10v-4h10v-4l6 6-6 6zM32 0v26l-12 6v-6h-12v-8h2v6h10v-18l8-4h-18v8h-2v-10z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
                    background-position: 14px 25px;
                &:hover {
                    color: #3c3f98;
                    background: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#fff' viewBox='0 0 32 32'%3E%3Ctitle%3Eenter%3C/title%3E%3Cpath d='M12 16h-10v-4h10v-4l6 6-6 6zM32 0v26l-12 6v-6h-12v-8h2v6h10v-18l8-4h-18v8h-2v-10z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
                    background-color: #3F51B5;
                    background-position: 14px 25px;
                }
            }
        }
    } 
}

