.contacts {
    background-color: #3c3f98;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 1;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -17px;
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    // margin-left: -17px;
    text-align: center;
  }
  &-item {
    height: 88px;
    background-color: #3c3f98;
    display: flex;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    a {
        display: flex;
        width: 100%;
        padding: 18px;
        text-decoration: none;
        &.active {
            background-color: #f23f79;
            cursor: default;
            .contacts-item__content p {
                color: #fab4ca;
            }
            .contacts-item__status {
                color: #f23f79;
                background-color: #ffffff;
            }
        }
    }
    &:hover {
      background-color: #575aa5;
      cursor: pointer;
      .contacts-item__content p {
        color: #fab4ca;
      }
      .contacts-item__status {
        color: #797cbf;
        background-color: #ffffff;
      }
      .contacts-item__image:before,
      .contacts-item__image:after {
        border-color: #575aa5;
      }
    }
    &__content {
      float: left;
      width: calc(100% - 119px);
      padding-left: 20px;
      padding-right: 10px;
      opacity: 0;
      h4 {
        color: #f2f2f8;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        padding: 7px 0 10px;
        // @extend .ellipsis !optional;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p {
        color: #8486bf;
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        font-size: 14px;
        // @extend .ellipsis !optional;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &__image {
      width: 52px;
      flex-shrink: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -4px;
        left: -5px;
        border: 3px solid #3c3f98;
        background-color: #E53935;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, background-color 0.3s;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 4px;
        right: -7px;
        border: 3px solid #3c3f98;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transition: background-color 0.3s;
      }
      img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
      }
    }
    &__status {
      width: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 2px;
      border-radius: 15px;
      background-color: #37398d;
      color: #8d8da9;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      opacity: 0;
    }
  }
}

.contacts-item.true .contacts-item__image:before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, background-color 0.3s;
}

.contacts-item.online .contacts-item__image:after {
  background-color: #8bc34a;
  transition: background-color 0.3s;
}