.chat-history{

    &__new-message {
        flex-shrink: 0;
        height: 88px;
        display: flex;
        justify-content: center;
        // border-bottom: 1px solid #3c3f98; 
        .emoji-container {
            visibility: hidden;
            opacity: 0;
            display: flex;
            position: absolute;
            bottom: 70px;
            // right: 60px;
            padding: 5px;
            min-height: 45px;
            max-width: 227px;
            height: 200px;
            overflow-y: auto;
            background-color: rgb(230, 230, 230);
            border: 1px solid rgba(158, 158, 158, 0.2);
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
            &.open {
                visibility: visible;
                opacity: 1;
                bottom: 90px;
                transition: bottom .2s, opacity .5s;
                span {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    &>span {
                        border: 1px solid #e6e6e6;
                        &:hover {
                            border: 1px solid #e0e0e0;
                            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }       
        form {
            display: flex;
            flex-grow: 1;
            max-width: 760px;
            textarea {
                flex-grow: 1;
                flex-shrink: 0;
                resize: none;
                border: none;
                border-top: 1px solid transparent;
                outline: none;
                background-color: #E0E0E0;
                padding: 15px;
                padding-right: 50px;
                font-size: 16px;
                color: rgb(43, 46, 130);
                &:focus {
                    border-top-color: rgb(43, 46, 130);
                }
            }
            .smile-button {
                width: 30px;
                height: 30px;
                margin: auto;
                margin-left: -50px;
                background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='svg2' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'%3E%3Cg id='g12' transform='matrix(1.25,0,0,-1.25,0,47.5)'%3E%3Cg id='g14'%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='-3' y='11' width='30' height='30'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' overflow='visible'/%3E%3C/clipPath%3E%3Cg id='g16' clip-path='url(%23SVGID_2_)'%3E%3Cg id='g22' transform='translate(36,20)'%3E%3Cpath id='path24' fill='#BDBDBD' d='M-13.3,6.6c0-5.9-4.8-10.7-10.7-10.7c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7 C-18.1,17.4-13.3,12.6-13.3,6.6'/%3E%3C/g%3E%3Cg id='g26' transform='translate(15,21.5)'%3E%3Cpath id='path28' fill='#fff' d='M-5.5,6.9c0-1.2-0.7-2.2-1.6-2.2s-1.6,1-1.6,2.2c0,1.2,0.7,2.2,1.6,2.2S-5.5,8.1-5.5,6.9' /%3E%3C/g%3E%3Cg id='g30' transform='translate(28,21.5)'%3E%3Cpath id='path32' fill='#fff' d='M-10.3,6.9c0-1.2-0.7-2.2-1.6-2.2s-1.6,1-1.6,2.2c0,1.2,0.7,2.2,1.6,2.2 S-10.3,8.1-10.3,6.9'/%3E%3C/g%3E%3Cpath id='path32_1_' fill='#fff' d='M17.9,24c-0.1,0.1-0.3,0.1-0.4,0c0,0-2.5-1.8-5.5-1.8c-3,0-5.5,1.8-5.5,1.8 c-0.1,0.1-0.3,0.1-0.4,0C6,23.9,6,23.8,6,23.6c0.1-0.1,2-3.3,6-3.3s5.9,3.2,6,3.3C18,23.8,18,23.9,17.9,24'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-repeat: no-repeat;
                transition: background-image .5s;
                &:hover,
                &.open {
                    transition: background-image .5s;
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='svg2' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'%3E%3Cg id='g12' transform='matrix(1.25,0,0,-1.25,0,47.5)'%3E%3Cg id='g14'%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='-3' y='11' width='30' height='30'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' overflow='visible'/%3E%3C/clipPath%3E%3Cg id='g16' clip-path='url(%23SVGID_2_)'%3E%3Cg id='g22' transform='translate(36,20)'%3E%3Cpath id='path24' fill='%23FFCC4D' d='M-13.3,6.6c0-5.9-4.8-10.7-10.7-10.7c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7 C-18.1,17.4-13.3,12.6-13.3,6.6'/%3E%3C/g%3E%3Cg id='g26' transform='translate(15,21.5)'%3E%3Cpath id='path28' fill='%23664500' d='M-5.5,6.9c0-1.2-0.7-2.2-1.6-2.2s-1.6,1-1.6,2.2c0,1.2,0.7,2.2,1.6,2.2S-5.5,8.1-5.5,6.9' /%3E%3C/g%3E%3Cg id='g30' transform='translate(28,21.5)'%3E%3Cpath id='path32' fill='%23664500' d='M-10.3,6.9c0-1.2-0.7-2.2-1.6-2.2s-1.6,1-1.6,2.2c0,1.2,0.7,2.2,1.6,2.2 S-10.3,8.1-10.3,6.9'/%3E%3C/g%3E%3Cpath id='path32_1_' fill='%23664500' d='M17.9,24c-0.1,0.1-0.3,0.1-0.4,0c0,0-2.5-1.8-5.5-1.8c-3,0-5.5,1.8-5.5,1.8 c-0.1,0.1-0.3,0.1-0.4,0C6,23.9,6,23.8,6,23.6c0.1-0.1,2-3.3,6-3.3s5.9,3.2,6,3.3C18,23.8,18,23.9,17.9,24'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }
            .new-message__submit {
                background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0{fill:none;stroke:%23000000;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;} %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M324.8,115.2c33.4-14.7,66.9-29.3,100.3-44c2-0.9,4-1.7,6-2.5c1.2,0,2.4,0,3.7,0c4.1,1.4,6.9,4.3,8.8,8.1 c0,1.7,0,3.4,0,5.1c-24.9,57.4-49.8,114.9-74.7,172.3c-26,60-52.1,120.1-78,180.1c-1.9,4.5-4.5,8-9.2,9.6c-1.2,0-2.4,0-3.7,0 c-4.5-1.3-7.2-4.6-9.5-8.5c-5.6-9.5-11.1-19-16.7-28.5'/%3E%3Cpath class='st0' d='M231.6,372.6c-10.9-18.5-21.8-36.9-32.7-55.4c-1.2-2.1-3.2-4-5.3-5.2c-38.8-22.1-77.6-44.1-116.4-66.1 c-3.8-2.2-7.1-4.6-8.9-8.7c0-1.7,0-3.4,0-5.1c1.8-4.7,5.5-7,9.9-9c64.6-28.3,129.2-56.6,193.9-84.9'/%3E%3Cpath class='st0' d='M298,127c0.5-0.2-0.2,0.6,0.4,0.3'/%3E%3Cpath d='M194.9,315.2L194.9,315.2c-2.3-2.3-2.3-6.2,0-8.5L431.8,69.8c2.3-2.3,6.2-2.3,8.5,0v0c2.3,2.3,2.3,6.2,0,8.5L203.4,315.2 C201,317.5,197.2,317.5,194.9,315.2z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
                width: 50px;
                background-position: 0;
                border: none;
                margin: 0 15px;
                outline: none;
                &:hover {
                    cursor: pointer;
                    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0{fill:none;stroke:#2b2e82;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;} %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M324.8,115.2c33.4-14.7,66.9-29.3,100.3-44c2-0.9,4-1.7,6-2.5c1.2,0,2.4,0,3.7,0c4.1,1.4,6.9,4.3,8.8,8.1 c0,1.7,0,3.4,0,5.1c-24.9,57.4-49.8,114.9-74.7,172.3c-26,60-52.1,120.1-78,180.1c-1.9,4.5-4.5,8-9.2,9.6c-1.2,0-2.4,0-3.7,0 c-4.5-1.3-7.2-4.6-9.5-8.5c-5.6-9.5-11.1-19-16.7-28.5'/%3E%3Cpath class='st0' d='M231.6,372.6c-10.9-18.5-21.8-36.9-32.7-55.4c-1.2-2.1-3.2-4-5.3-5.2c-38.8-22.1-77.6-44.1-116.4-66.1 c-3.8-2.2-7.1-4.6-8.9-8.7c0-1.7,0-3.4,0-5.1c1.8-4.7,5.5-7,9.9-9c64.6-28.3,129.2-56.6,193.9-84.9'/%3E%3Cpath class='st0' d='M298,127c0.5-0.2-0.2,0.6,0.4,0.3'/%3E%3Cpath d='M194.9,315.2L194.9,315.2c-2.3-2.3-2.3-6.2,0-8.5L431.8,69.8c2.3-2.3,6.2-2.3,8.5,0v0c2.3,2.3,2.3,6.2,0,8.5L203.4,315.2 C201,317.5,197.2,317.5,194.9,315.2z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
                    background-position: 0;                    
                }
            }
        }
    }
}
