.top-navigation {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        height: 44px;
        align-items: center;
        background-color: #F5F5F5;
        li {
            display: flex;
            flex-grow: 1;
            height: 100%;
            flex-shrink: 0;
            align-items: center;
            a {
                flex-grow: 1;
                text-decoration: none;
                text-align: center;
                margin: auto;
                line-height: 42px;
                color: #757575;
                font-family: sans-serif;
                letter-spacing: 1px;
                border-top: 2px solid transparent;
                transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
                &.active {
                    background-color: #E0E0E0;
                    color: #3F51B5;
                    border-top-color: #5C6BC0;
                    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
                }
                &:not(.active):hover {
                    background-color: #EEEEEE;
                }
            }
        }
    }
}
