.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}


body, 
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 380px;
  overflow: hidden;
}

// .contacts::-webkit-scrollbar,
// .messages ul::-webkit-scrollbar {
//   display: none;
// }

html {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-container {
    display: flex;
    flex-grow: 1;
}

.home-wrapper {
    margin: auto;
}

.chat-wrapper {
    flex-grow: 1;
    display: flex;

    // margin: 22px 0px;
    // border: 1px solid #EEEEEE;
}

.chat-list {
    display: flex;
    flex-grow: 1;

    position: relative;
    overflow: hidden;
}

.aside-wrapper {
  width: 88px;
  background-color: #3c3f98;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: width .5s cubic-bezier(.685,.0473,.346,1);
}

.aside-wrapper.is-open {
  width: 380px;
  transition: width .5s cubic-bezier(.685,.0473,.346,1);
}

.aside-wrapper.is-open .aside-navigation__arrow::after {
  border: none;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-left: 36px;
}

.aside-wrapper.is-open .search-chat {
  display: flex;
  opacity: 1;
  margin: auto 0;
  margin-right: 22px;
  height: 44px;
  transition: background-color 0.3s;
}

.aside-wrapper.is-open .contacts-item__content,
.aside-wrapper.is-open .contacts-item__status {
  opacity: 1;
}

.aside-navigation {
  height: 88px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  &__arrow {
  	flex-shrink: 0;
  	width: 88px;
  	height: 88px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: '';
      display: block;
      border: none;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-radius: 2px;
      width: 22px;
      height: 22px;
      transform: rotate(-45deg);
      margin-left: 26px;
      margin-top: 31px;
    }
  }
}

.search-chat {
    display: none;
    opacity: 0;
    height: 88px;
    flex-shrink: 0;
    flex-grow: 1;
    border: none;
    outline: none;
    // font-size: 16px;
    padding: 15px;
    background-color: rgb(43, 46, 130);
    color: #f23f79;
    font-size: 20px;
    border: 1px solid #3c3f98;
    &:focus {
        background-color: #FAFAFA;
    }
}

.chat-wrapper main {
    flex-grow: 1;
    display: flex;
}

.chat-wrapper main h3 {
    margin: auto;
}

.chat-history {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.stage{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.crossfade-appear {
  opacity: 0.01;
}

.crossfade-appear.crossfade-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}

.crossfade-enter {
  opacity: 0.01;
}

.crossfade-enter.crossfade-enter-active {
  opacity: 1;
  transition: all 500ms linear;
}

.crossfade-leave {
  opacity: 1;
}

.crossfade-leave.crossfade-leave-active {
  opacity: 0.01;
  transition: all 300ms ease-in;
}

//google spinner
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto;
  
  & .path {
    stroke: hsl(210, 100, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite, colors 6s infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes colors {
  0% {
    stroke: hsl(0, 100, 50);
  }
  25% {
    stroke: hsl(0, 100, 50);
  }
  26% {
    stroke: hsl(50, 100, 45);
  }
  50% {
    stroke: hsl(50, 100, 45);
  }
  51% {
    stroke: hsl(100, 100, 30);
  }  
  75% {
    stroke: hsl(100, 100, 30);
  }
  76% {
    stroke: hsl(190, 100, 37);
  }
  100% {
    stroke: hsl(190, 100, 37);
  }
}

.toastify__body {
    font-size: 15px;
    text-indent: 15px;
    display: flex;
    align-items: center;
}

.toastify-content {
    display: flex;
}

.toastify-content--success {
    border-left: 6px solid #8BC34A;
}

// .online-status {
//   position: relative;
// }

// .online-status:before {
//     content: '';
//     position: absolute;
//     top: -2px;
//     left: 0;
//     width: 7px;
//     height: calc(100% + 2px);
//     background-color: #4CAF50;
//     transition: background-color .3s;
// }

// .online-status.offline:before {
//   background-color: #ef4438;
//   transition: background-color .3s;
// }